@model Planning.Client.MVCApp.Views.Todo.CreateModel

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Create Todo</h2>

@using (Html.BeginForm())
{
    @Html.Label("Title")
    @Html.EditorFor(m => m.Title)

    @Html.Label("Description")
    @Html.EditorFor(m => m.Description)

    <input type="submit" value="Create" />
}

